@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');

body {
    background-color: white;
    margin: 0;
}

.headerBanner {
    background-color: black;
    margin-top: 0;
}

.bannerImage {
    width: 20%;
    margin-left: 10%;
    display: flex;
}

.catalogueButton {
    width: 150px;
    border: none;
    border-radius: 10px;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    background-color: aquamarine;
    cursor: pointer;
    transition-duration: 0.4s;
    outline: 0;
}

.catalogueButton:hover {
    background-color: aqua;
}

.inCatalogueButtonText {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

nav ul li a {
    text-decoration: none;      /* no underline for text */
}

.startingContent {
    margin: 0;
    margin-bottom: 3%;
}

.gameTitleSection {
    margin: 0;
    align-items: center;
}

.gameTitle {
    margin: 0;
    padding-top: 1%;
    padding-left: 2%;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 5em;
}

.gameScore {
    margin: auto;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 4em;
    color: #20FF00;
}

.gameScoreSection {
    display: flex;
    background-color: black;
    border-radius: 200px;
    margin-right: 85%;
    margin-left: 3%;
}

.gameGeneralInfo {
    margin: 0;
    padding-top: 0;
    padding-left: 2%;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
}

.trailerVideo {
    float: right;
    margin-right: 2%;
    margin-bottom: 3%;
}

.mainContent {
    margin: 0;
}

.storySection {
    background-color: beige;
    margin: 2% 2% 2% 2%;
    border-radius: 50px;
    padding-bottom: 2%;
}

.gameplaySection {
    background-color: pink;
    margin: 2% 2% 2% 2%;
    border-radius: 50px;
    padding-bottom: 2%;
}

.graphicsSection {
    background-color: lightgreen;
    margin: 2% 2% 2% 2%;
    border-radius: 50px;
    padding-bottom: 2%;
}

.soundtrackSection {
    background-color: lightblue;
    margin: 2% 2% 2% 2%;
    border-radius: 50px;
    padding-bottom: 2%;
}

.technicalSection {
    background-color: lightgrey;
    margin: 2% 2% 2% 2%;
    border-radius: 50px;
    padding-bottom: 2%;
}

.sectionTitle {
    margin: 0;
    padding-top: 1%;
    padding-left: 2%;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 5em;
}

.reviewParagraph {
    margin: 0;
    padding-top: 1%;
    padding-left: 2%;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3em;
}

.footerSection {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footerBanner {
    width: 10%;
    margin: auto;
}

.footerTitle {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 0.5%;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    color: white;
}

.footerText {
    margin: auto;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    color: white;
}

.footerText_withoutHover {
    margin: auto;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    color: white;
}

.footerRedirect {
    margin:auto;
}

.footerRedirectButton {
    background: none;    
    border: none;         
    color: inherit;     
    font: inherit; 
    cursor: pointer;       
    padding: 0;
    margin: auto;
}

.footerText:hover {
    color: aqua;
}